---
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import formatDate from '../../utils/formatDate'

export async function getStaticPaths() {
  const posts = await getCollection('posts')

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post }
  }))
}

type Props = {
  post: CollectionEntry<'posts'>
}

const { post } = Astro.props
const { Content } = await post.render()
---

<DefaultLayout title={post.data.title} description={post.data.description}>
  <main class='post mx-auto flex w-full max-w-3xl flex-col gap-4 px-4 text-jefferson-light'>
    <!-- delete md:max-w-full to go back to the original  -->
    <header role='presentation'>
      <h1 class='text-md'>
        {post.data.title} - {formatDate(post.data.publishedAt)}
      </h1>
      <p class='italic'>{post.data.description}</p>
      <blockquote class='text-gray-400'>
        Last Updated: {formatDate(post.data.lastUpdated)}
      </blockquote>
    </header>
    <Content />
  </main>
</DefaultLayout>
